
    header{
        border-radius: 1px solid;
    }
    
    
        .links{
          color: white;
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: medium;
          text-decoration: none;
          font-weight: normal;
        }
        .links:hover{
          color: cyan;
        }
        .spacer {
          flex: .1;
        }
        .spacer2 {
          flex: .35;
        }
      
        nav {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 60px;
          display: flex;
          align-items: center;
          background-color: #e2306b;
          color: white;
          font-weight: 600;
          
        }
      
        .toolbar img {
          margin: 0 16px;
        }
      
        .toolbar #twitter-logo {
          height: 40px;
          padding-left: 100%;
          flex: 1;
        }
      
        .toolbar #twitter-logo:hover {
          opacity: 0.8;
        }