<body> 
    
    <div class = "columncenter">
        <div #refEl  *ngFor = "let item of dummy; let i = index;trackBy: trackByFn  "  [ngStyle] = 'styles[i]'  class =" bar">{{getSrc(i,refEl)}}</div>
    </div>

        
    
    <select [(ngModel)] = "selectedAmount" (ngModelChange) ="selected($event)">
            <option *ngFor="let amount of amounts" [ngValue] ="amount" >{{amount}}</option>
    </select>
    
    <button (click) = 'sort()' >Sort</button>
    <p class='works'>Sorted in {{time}}    Quick-sort works with time complexity O(nlogn)</p>    
</body>
