<body>
    <h1>Welcome to Alex's Sorter</h1>
    <p>Many different websites exist that show how sorting algorithms work but they are often cluttered and with information you aren't neccessarily looking for. However the intention of this website to provide you animations so you can SEE for yourself how they work and in the event that you don't care to see how it works we've provided the best use cases for each below. </p>  
<h1>Quick Sort</h1>
<h1>Heap Sort</h1>
<h1>Merge Sort</h1>
<h1>Insertion Sort</h1>
<h1>Bubble Sort</h1>
<h1>Selection Sort </h1>
</body>
